:root {
    --text-color: #e7eaf6;
    --section-color1: #a2a8d3;
    --section-color2: #38598b;
    --background-color: #113f67;
    --background-color2: #121212;
}

*, ::after, ::before {
    box-sizing: border-box;
    color: var(--text-color);
    font-family: "Chelsea Market", system-ui;
    scroll-behavior: smooth;
    text-align: center;
}

body {
    margin: 0;
    padding: 0;
    width: 100vw;
    background: linear-gradient(30deg, var(--background-color), var(--background-color2));
}

#navbar {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 2vh 2vw;
    background: linear-gradient(20deg, var(--section-color2), var(--background-color) 40%);
}

#logo {
    font-family: "RocknRoll One", sans-serif;
    font-size: 1.5em;
    border: 0.1em solid var(--text-color);
    padding: 0.1em;
    color: var(--text-color);
    width: fit-content;
    margin: 2vh auto;
}

#navbar-list {
    width: 100%;
    height: fit-content;
    margin-top: 4vh;
}

#navbar-list ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
    gap: 1em;
    font-size: 1.3em;
}

#navbar-list li {
    list-style-type: none;
}

#navbar-list a {
    text-decoration: none;
}

#project-target, #contact-target {
    top: -35vh;
    position: relative;
}

main, footer {
    width: 100%;
    padding: 5vw;
}

section {
    margin-bottom: 4vh;
}

#welcome-section {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#welcome-section h1 {
    font-size: 3em;
    overflow: hidden;
    animation: typewriter 2s steps(4, end) forwards, blink 1s step-end 2 forwards;
    margin: 0 auto;
    letter-spacing: 0.2em;
    border-right: 0.1em solid var(--section-color1);
}

.traits {
    visibility: hidden;
    position: absolute;
}

.trait:nth-of-type(2) {
    font-size: 1.5em;
    overflow: hidden;
    visibility: collapse;
    animation: typewriter 2s steps(12, end) 2s forwards, blink 1s step-end 4 forwards;
    margin: 1em auto;
    letter-spacing: 0.1em;
    border-right: 0.1em solid var(--section-color1);
    white-space: nowrap;
    width: fit-content;
}

.trait:nth-of-type(3) {
    font-size: 1.5em;
    overflow: hidden;
    visibility: collapse;
    animation: typewriter 2s steps(12, end) 4s forwards, blink 1s step-end 6 forwards;
    margin: 1em auto;
    letter-spacing: 0.1em;
    border-right: 0.1em solid var(--section-color1);
    white-space: nowrap;
    width: fit-content;
}

.trait:nth-of-type(4) {
    font-size: 1.5em;
    overflow: hidden;
    visibility: collapse;
    animation: typewriter 2s steps(11, end) 6s forwards, blink 1s step-end 7 forwards;
    margin: 1em auto;
    letter-spacing: 0.1em;
    border-right: 0.1em solid var(--section-color1);
    white-space: nowrap;

}

.trait:nth-of-type(5) {
    font-size: 1.5em;
    overflow: hidden;
    visibility: collapse;
    animation: typewriter 2s steps(11, end) 8s forwards, blink 1s step-end 10 forwards;
    margin: 1em auto;
    letter-spacing: 0.1em;
    border-right: 0.1em solid var(--section-color1);
    white-space: nowrap;
    width: fit-content;
}

.project-tile {
    padding-bottom: 1em;
    border-radius: 2em;
    box-shadow: 3px 3px 6px var(--background-color2);
    background: linear-gradient(50deg, var(--section-color2), var(--background-color));
}

img {
    border-radius: 2em 2em 0 0;
    width: 100%;
    margin-bottom: 1em;
}

#projects {
    display: flex;
    flex-direction: column;
    gap: 2vh;
}

.project-link {
    font-size: 1.2em;
    text-decoration: none;
}

.project-description {
    margin-left: 1em;
    margin-right: 1em;
}

#contact {
    display: flex;
    flex-direction: column;
}

.contact-info img {
    width: 15vw;
}

footer {
    box-shadow: 0 -3px 6px var(--background-color2);
    background: linear-gradient(30deg, var(--section-color2), var(--background-color));
}

@keyframes typewriter {
    0% {
        width: 0%;
        visibility: visible;
    }

    100% {
        width: 100%; 
        visibility: visible;
    }
}

@keyframes blink {
    from, to {
        border-color: transparent }
    50% { 
        border-color: var(--section-color1); }
}

@media only screen and (min-width: 800px) {
    #navbar {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        padding: 2vh 2vw;
    }

    #logo {
        margin: 0;
        min-width: fit-content;
        height: auto;
    }

    #navbar-list {  
        margin-top: 0;
    }

    #navbar-list ul {
        flex-direction: row;
        align-items: end;
        justify-content: flex-end;
        margin: 0;
    }

    #project-target, #contact-target {
        top: -15vh;
        position: relative;
    }

    #welcome-section h1 {
        font-size: 5em;
    }

    .trait {
        animation: none, none;
        position: absolute;
        visibility: hidden;
        width: 0;
        height: 0;
    }

    .traits {
        position: static;
        font-size: 1.5em;
        overflow: hidden;
        visibility: collapse;
        animation: typewriter 3s steps(34, end) 2s forwards, blink 1s step-end 5 forwards;
        margin: 1em auto;
        letter-spacing: 0.1em;
        border-right: 0.1em solid var(--section-color1);
        white-space: nowrap;
        width: fit-content;
    }  

    h2 {
        font-size: 2em;
    }

    #projects {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    #projects h2 {
        width: 100%;
    }

    .project-tile {
        width: 40vw;
    }

    #contact {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        column-gap: 5vw;
    }

    #contact h2 {
        width: 100%;
    }   
}

@media only screen and (min-width: 1000px) {
    #navbar {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        padding: 5vh 5vw;
    }

    #logo {
        margin: 0;
        min-width: fit-content;
        font-size: 2em; 
    }

    #navbar-list {
        margin-top: 0;
    }

    #navbar-list ul {
        flex-direction: row;
        align-items: end;
        justify-content: flex-end;
        margin: 0;
        font-size: 1.5em;
    }

    #project-target, #contact-target {
        top: -25vh;
        position: relative;
    }

    #welcome-section h1 {
        font-size: 10em;
    }

    .trait {
        animation: none, none;
        position: absolute;
        visibility: hidden;
        width: 0;
        height: 0;
    }

    .traits {
        position: static;
        font-size: 3em;
        overflow: hidden;
        visibility: collapse;
        animation: typewriter 3s steps(34, end) 2s forwards, blink 1s step-end 5 forwards;
        margin: 1em auto;
        letter-spacing: 0.1em;
        border-right: 0.1em solid var(--section-color1);
        white-space: nowrap;
        width: fit-content;
    }  

    h2 {
        font-size: 2.5em;
    }

    #projects {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 5vw;
    }

    #projects h2 {
        width: 100%;
    }

    .project-tile {
        width: 40vw;
    }

    .project-link {
        font-size: 2em;
    }

    .project-description {
        font-size: 1.5em;
    }

    #contact {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        column-gap: 2vw;
    }

    #contact h2 {
        width: 100%;
    } 
    
    .contact-info img {
        width: 5vw;
    }

    section {
        margin-bottom: 6vh;
    }

    footer {
        padding: 2vh 2vw;
    }
}